/* CONFIGURING THE PAGE PROPERTIES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY FORMATTING */
body{
    background-image: url(https://i.pinimg.com/1200x/96/bf/db/96bfdbd8ce81576a45cd9b59c5d48d76.jpg);
    backdrop-filter: brightness(30%);
    background-repeat: no-repeat;
    background-size: cover;
}
/* GRIDDING */
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    align-items: center;
    gap: 0px;
}
/* LOGO */
.logo{
    position: absolute;
    height: auto;
    width: 100px;
    bottom: 10px;
    right: 10px;
}
/* TITLE AND DESCRIPTIONS OF THE PAGE */
.titleDesc{ 
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title{
    font-family: Lexend Deca;
    font-size: 55px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Flag_of_Ethiopia_AOE3.svg/1280px-Flag_of_Ethiopia_AOE3.svg.png?20211106142336);
    padding: 0%;
    background-size: contain;  
}  

.desc{
    font-family: Lexend Deca;
    font-size: 20px;
    color: white;
}

/* FORMATTING THE CARDS CONTAINER */
.cardsContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
/* FORMATTING THE FORM-DISPLAY CARD */
.card{
    background-image: linear-gradient(to left, #ff0000, #fbff00, #27751f);
    width: 400px; 
    min-height: 500px; 
    margin-right: 100px;
    padding: 20px;     
    height: auto; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.7s ease-in-out;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

/* FORMATTING THE CARD CONTENTS */
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
/* FORMATTING THE LABELS AND FIELDS */
.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formField{
    border-radius: 80px;
    border-width: 0px;
    padding: 8px 40px;
    background-color: rgb(255, 255, 255);
    font-family: Lexend Deca;
}

.formField option{
    font-family: Lexend Deca;
}

.formLabel{
    font-family: Lexend Deca;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 20px;
}
/* FORMATTING THE SUBMIT BUTTON */
.field button{
    border-radius: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px 40px;
    border-width: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Lexend Deca;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.field button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scaleX(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
/* FORMATTING THE DISPLAY CARD */
.displayContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
/* FORMATTING THE DISPLAY NAME */
.displayName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.akanName{
    font-family: Lexend Deca;
    font-size: 22px;
    color: rgb(0, 0, 0);
}
.akanMeaning{
    font-family: Lexend Deca;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    max-width: 300px;
}

/* FORMATTING THE DISPLAY IMAGE */
.displayImage img{
    padding: 10px;
    width: 150px;
    height: auto;
}

.displayImage{
    display: flex;
    justify-content: center;
    align-items: center;
}