/* CONFIGURING THE PAGE PROPERTIES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY FORMATTING */
body{
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXZwMXRpY3U3eXFrbW04bm55cXFyaWJqMzZ0bHIwaW10b29zNnM2ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TxVVB6PfWMjE4/giphy.gif);
}
/* GRIDDING */
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    align-items: center;
    gap: 0px;
}
/* TITLE AND DESCRIPTIONS OF THE PAGE */
.titleDesc{ 
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title{
    font-family: Lexend Deca;
    font-size: 50px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Flag_of_Ethiopia_AOE3.svg/1280px-Flag_of_Ethiopia_AOE3.svg.png?20211106142336);
    padding: 0%;
    background-size: contain;  
}  

.desc{
    font-family: Lexend Deca;
    font-size: 20px;
    color: white;
}

/* FORMATTING THE CARDS CONTAINER */
.cardsContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
/* FORMATTING THE FORM-DISPLAY CARD */
.card{
    background-image: linear-gradient(to left, #ff0000, #fbff00, #27751f);
    min-width: 400px; 
    min-height: 500px; 
    margin-right: 100px;
    padding: 20px;     
    height: auto; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* FORMATTING THE CARD CONTENTS */
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
/* FORMATTING THE LABELS AND FIELDS */
.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formField{
    border-radius: 80px;
    text-align: left;
    border-width: 0px;
    padding: 5px 40px;
    background-color: rgb(255, 255, 255);
}

.formLabel{
    font-family: Lexend Deca;
    color: rgb(0, 0, 0);
    margin: 10px;
}
/* FORMATTING THE SUBMIT BUTTON */
.field button{
    border-radius: 80px;
    margin: 20px;
    padding: 10px 40px;
    border-width: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Lexend Deca;
    cursor: pointer;
    transition: 0.3s;}

.field button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scaleX(1.05);
}